<footer>
 <div class="container_flex">
  <div class="logo_cont">
   <img src="/assets/img/logo-white.png" alt="">
   <h2>Architex</h2>
  </div>
  <p class="mail">
   architex_company@mail.ru
  </p>
 </div>
 <div class="container">
  <p class="slagon">
   "Crafting Dreams into Structures: Architex - Where Imagination Meets Blueprint."
  </p>
 </div>
 <div class="container">
  <p class="name">
   <!-- Architex Architectural Company / 2024 -->
   <span>A</span>
   <span>r</span>
   <span>c</span>
   <span>h</span>
   <span>i</span>
   <span>t</span>
   <span>e</span>
   <span>x</span>
   <b></b>

   <span>A</span>
   <span>r</span>
   <span>c</span>
   <span>h</span>
   <span>i</span>
   <span>t</span>
   <span>e</span>
   <span>c</span>
   <span>t</span>
   <span>u</span>
   <span>h</span>
   <span>r</span>
   <span>a</span>
   <span>l</span>
   <b></b>

   <span>C</span>
   <span>o</span>
   <span>m</span>
   <span>p</span>
   <span>a</span>
   <span>n</span>
   <span>y</span>
   <b></b>

   <span>/</span>
 <b>
  
 </b>

   <span>2</span>
   <span>0</span>
   <span>2</span>
   <span>4</span>
  </p>
 </div>
 <img src="/assets/img/footer/footer-img.png" class="footer_bottom_img" alt="">
</footer>















