<div class="container">
 <h1>About Us</h1>
</div>
<div class="gen_cont">
 <img src="../../../assets/img/about/01.png" alt="" >
 <div class="info1">
  Experts: {{experts}}+
  <br>
  Years of Experience: {{experience}}+
  <br>
  Completed Projects: {{projects}}+
  <br>
  Repeat Clients: {{repeatClients}}%+
 </div>
 <div class="info2">
  Satisfied Clients: {{clients}}%+
  <br>
  Square Feet Designed:  {{square}}million+
  <br>
  Sustainable Projects: {{project}}%+
  <br>
  Project Budget Range: $100K - ${{budget}}M+
 </div>
 <h4>
  Architex: Building Bridges Between <br> Vision and Reality
 </h4>
</div>
<div class="container_flex desc_cont" >
 <p class="text1">
  Architex was founded on the belief that architecture has the power to 
  shape lives, communities, and the world around us. Driven by a passion
   for design excellence and a desire to create spaces that inspire, our 
   company was established to bring together a team of visionary architects, engineers,
   and designers dedicated to pushing the boundaries of innovation in architecture.
   <br><br>
   At Architex, our mission is simple: to transform ideas into reality through 
   creative and sustainable design solutions. We believe in the transformative 
   power of architecture to enhance lives, foster connections, and create enduring 
   legacies. With a focus on collaboration, innovation, and environmental stewardship,
    we strive to exceed our clients' 
   
   expectations and leave a positive impact on the built environment.
 </p>
 <div class="img_cont">
  <img src="../../../assets/img/about/02.png" alt="">
 </div>
</div>
<div class="container advantage_cont">
 <h5>Advantages of Choosing Architex</h5>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> 56+ Experts
  </h2>
  <p>
   Benefit from the collective expertise of our 30+ architects, engineers, 
   and designers, who bring diverse perspectives and skill sets to every project.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Quality Assurance
  </h2>
  <p>
   We uphold the highest standards of quality in every aspect of our work. 
   Our commitment to excellence ensures that each 
   project is meticulously planned, executed, and monitored to deliver exceptional results.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Collaborative Approach
  </h2>
  <p>
   We believe in fostering strong partnerships with our clients, collaborating
    closely to understand their needs, aspirations, 
   and constraints, and ensuring that their vision is brought to life.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Sustainability Focus
  </h2>
  <p>
   Architex is dedicated to promoting sustainable design practices that
    minimize environmental 
   impact and contribute to the well-being of occupants and communities.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Client Satisfaction
  </h2>
  <p>
   Our ultimate goal is client satisfaction. We strive to exceed expectations,
    delivering projects on time, within budget, and to the highest level of quality.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Value Engineering
  </h2>
  <p>
   We are committed to maximizing value for our clients by optimizing 
   resources and finding cost-effective 
   solutions without compromising quality or design integrity.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Innovative Design Solutions
  </h2>
  <p>
   Our team is constantly exploring new ideas and technologies to deliver 
   cutting-edge design solutions that push the boundaries of creativity and innovation.
  </p>
 </div>
 <div class="advantage_item">
  <h2 class="advantage_title">
   -> Flexibility and Adaptability
  </h2>
  <p>
   We understand that every project is unique, and we are committed to adapting our 
   approach to meet the specific needs and requirements of each client.
  </p>
 </div>
</div>
<div class="container">
 <h5>Discover the Architex Advantage</h5>
 <p class="slagon">
  Whether you're embarking on a new construction project, renovating an 
  existing space, or seeking expert advice on urban planning and design,
   Architex Architectural
   Company is your trusted partner for visionary design solutions that inspire and endure.
 </p>
</div>












