.sect1 {
 display: flex;
 justify-content: space-between;
 padding: 35px 0;
}
.sect1 img {
 width: 59%;
}
h1 {
 width: 39%;
    font-size: 43px;
    line-height: 31px;
    padding: 9% 0;
    font-family: 'Montserrat';
}
h1 span {
 display: block;
}
h1 .sp1{
 padding-left: 16px;
}
h1 .sp2{
 padding-left: 43px;
}
h1 .sp3{
 padding-left: 73px;
 font-size: 50px;
 color: #909093;
}
.service_cont {
 display: flex;
 justify-content: space-between;
 /* padding: 17px; */
}
.service_text {
 width: 65%;
 padding: 5% 0;
}
.service_img {
 width: 32%;
 border-radius: 5px;
}
.service_item {
 padding: 17px;
 background-color: #e8e6e4;
 border-radius: 6px;
 margin-bottom: 23px;
}
.service_item h2 {
 font-family: 'Montserrat';
 margin-bottom: 8px;
}
.service_item:nth-child(2), .service_item:nth-child(4), .service_item:nth-child(6){
 background-color: #c8c6c3;
}
.services_title {
 background-color: #e4e5e5;
    position: relative;
    padding: 53px 8.8%;
}
.services_title img {
 
 width: 21%;
 position: absolute;
 bottom: 0;
 right: 0;
}











