
<div class="home">
 <div class="home_cont">
  <h1>
   Architex: Crafting Architectural Masterpieces
  </h1>
  <p class="home_p">
   Our team of skilled designers specializes in crafting personalized, 
   inspiring spaces that blend functionality with beauty. Let's bring 
   your vision to life.
  </p>
 </div>
 <div class="vid">
  <div class="video_cont">
   <!-- <video src="/assets/video/03303.mp4" width="100%" loop autoplay ></video> -->
   <!-- <img src="../../../assets/img/proj8-8.png" width="100%" alt=""> -->
   <video src="/assets/video/home-page-1.mp4" width="100%" loop autoplay ></video>
   <div class="descrip">
    <p>Latest project</p>
    <h2>Modern Industrial Loft</h2>
    <p>Location: New York, USA</p>
   </div>
  </div>
  <div class="img_c">
   <img src="../../../assets/img/house/h3.png" alt="">
   <img src="../../../assets/img/house/h4.png" alt="">
  </div>
 </div>
 
</div>

<section class="more-work">
  <img src="../../../assets/img/pages/home/01x4.png" alt="">
  <div class="container">
    <h2>
      Discover more of our creations 
    </h2>
    <p class="f_text">
      showcased below...
    </p>
  </div>
</section>
<section class="more-work-cont">
  <div class="container">
    <h3>Designing a Sustainable Home.</h3>
    <div class="more_work_cont">
      <img src="../../../assets/img/pages/home/more-work/01.png" alt="">
      <p>
        Design a sustainable home by focusing on energy efficiency, 
        renewable energy, water conservation, eco-friendly materials, healthy indoor air 
        quality, green space, smart technology, passive design, and lifecycle assessment.
      </p>
    </div>
    <h3>Importance of Lighting Design in Interior Spaces.</h3>
    <div class="more_work_cont cnt">
      <p>
          Lighting design in interior spaces is crucial for setting ambiance,
         enhancing functionality, improving aesthetics, conserving energy, 
         promoting health and safety, and highlighting
         architectural features or decor elements.
         Lighting design in interior spaces is paramount for establishing the
          desired ambiance and atmosphere. 
      </p>
      <img src="../../../assets/img/pages/home/more-work/04.png" alt="">
    </div>
  </div>
</section>

<section class="choose">
 <div class="container">
  <h3>
   Why Choose Us <span>?</span>
  </h3>
  <div class="point_cont " id="po">
    <div class="h_c">
      <h4 (click)="hover('f1')" (mouseenter)="hover('f1')"
      [ngClass]="{'active_color': f1}">Expertise in Architectural Design</h4>
      <h4 (click)="hover('f2')" (mouseenter)="hover('f2')"
      [ngClass]="{'active_color': f2}">Tailored Solutions</h4>
      <h4 (click)="hover('f3')" (mouseenter)="hover('f3')"
       [ngClass]="{'active_color': f3}">Attention to Detail</h4>
      <h4 (click)="hover('f4')" (mouseenter)="hover('f4')"
       [ngClass]="{'active_color': f4}">Innovative Design Solutions</h4>
      <h4 (click)="hover('f5')" (mouseenter)="hover('f5')"
       [ngClass]="{'active_color': f5}">Exceptional Attention to Client Needs</h4>
    </div>

    <div class="img_p_c">
      <div class="point_c" >
        <img [src]="imgSrc"  alt="">
        <p>
        {{text}}</p>
      </div>

    </div> 
</div>
 </div>
</section>
<!-- --------------- -->
<section class="pastProject">
  <div class="container_flex choose proj_cont2">
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj1.png" alt="">
    </div>
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj2.png" alt="">
    </div>
    
    <h3>
      Explore Our Past Projects
     </h3>
  </div>
  <!-- <div class="container_flex proj_cont">
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj5.png" alt="">
    </div>
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj6.png" alt="">
    </div>
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj7.png" alt="">
    </div>
  </div> -->
  <div class="container_flex proj_cont proj_cont3">
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj8.png" alt="">
    </div>
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj9.png" alt="">
    </div>
    <div class="img_proj_cont">
      <img src="../../../assets/img/project/proj10.png" alt="">
    </div>
  </div>

</section>




<div class="up-to-date">

  <img src="../../../assets/img/details/img0202.png" class="gen-img" alt="">
  <div class="up-to-date-cont">
    <div class="up-to-date-co">
      <h2>
        Stay Up-to-Date with Architex <img src="../../../assets/img/details/arrows1.png" alt="">
      </h2>
    <p>
      To receive the latest updates from Architex, kindly provide your email address
       in the field below. 
      We'll keep you informed about our latest projects, events, and news
    </p>
    <div class="input_cont">
      <form [formGroup]="reactiveForm" (ngSubmit)="onFormSubmitted()">
        <input type="email" placeholder="Your email..." formControlName="email">
        <button [disabled]="!reactiveForm.valid">Send</button>
      </form>
    </div>
    </div>
    
  </div>
</div>














