<section class="proj1 container_flex">
 <div class="img_cont">
  <img src="/assets/img/project-page/01.png" class="gen_img" alt="">
  <div class="img_gallery">
   <img src="/assets/img/project-page/02.png" class="img1" alt="">
 
   <!-- <img src="/assets/img/project-page/04.png" alt=""> -->
  </div>
  <!-- <img src="/assets/img/project-page/03.png"  alt=""> -->
  
 </div>
 <img src="/assets/img/project-page/04.png" class="img2" alt="">
 <div class="text_cont">
  <h2>Modern House <br> Design</h2>
  <div class="point">
   <h4>Location</h4>
   <h5>California, USA</h5>
  </div>
  <div class="point">
   <h4>Year</h4>
   <h5>2023</h5>
  </div>
  <div class="point">
   <h4>Foundation</h4>
   <h5>Reinforced Concrete Slab</h5>
  </div>
 </div>
</section>
<section class="descrip1 container">
 <p>
  <b></b>Elevating contemporary living to new heights, the <span> Modern House Design</span> by 
  <span>Architex Architectural Company</span> embodies <span>sophistication, functionality,</span> and 
  <span>timeless elegance</span>. Nestled in the vibrant city of  California,
   this architectural 
  marvel stands as a testament to <span>innovative design</span> and 
  <span>meticulous craftsmanship</span>.
 </p>
 <p>
  <b></b>Upon arrival, visitors are greeted by a striking façade characterized by clean 
  lines, expansive glass panels, seamlessly blending modern aesthetics with the
   surrounding landscape. The thoughtful integration of natural materials such as 
   concrete, glass, and steel creates a harmonious
   balance between form and function, while offering 
   <span>durability</span> and <span>sustainability</span>.
 </p>
 <p>
  <b></b>The Modern House Design is not only a <span>visual masterpiece</span> but also a showcase of
   <span>sustainable design principles</span>. From its energy-efficient features to its
   <span> eco-friendly 
    materials</span>, every aspect of the project is thoughtfully curated to minimize 
  environmental impact and promote a healthy, balanced lifestyle.
 </p>
 <p>
  <b></b>With <span>meticulous attention to detail</span> and a 
  <span>commitment to excellence</span>, Architex
   Architectural Company has transformed the <span>client's vision into a stunning reality </span>, 
   creating a modern house that exemplifies 
   <span>luxury,
    comfort,</span> and <span>sophistication</span>.
 </p>
</section>
<div class="container">
 <h1>Other projects...</h1>
</div>
<section class="project_container container_flex">
 <img src="../../../assets/img/project-page/cont/01.png" alt="">
 <img src="../../../assets/img/project-page/cont/02.png" alt="">
 <img src="../../../assets/img/project-page/cont/03.png" alt="">
</section>
<section class="project_container container_flex project_cont2">
 <img src="../../../assets/img/project-page/cont/04.png" alt="">
 <img src="../../../assets/img/project-page/cont/05.png" alt="">
 <img src="../../../assets/img/project-page/cont/06.png" alt="">
</section>

























































































































