.toolbar {
 background-color: var(--background-color);
 padding: 7px 0;
 /* position: relative; */
}
.img_cont img {
 width: 71px;
}
.img_a {
 display: flex;
 justify-content: space-between;
}
a {
 display: block;
 text-decoration: none;
 color: gray;
}
.a_cont {
 display: flex;
 justify-content: space-between;
 padding: 15px 0;
}
.a_cont a::after {
 content: '/';
 margin: 0 18px;
} 
.a_cont a:nth-child(6)::after{
 content: '';
 margin: 0;
}
.a_cont a:hover {
 color: black;
 transition: all 45ms ease;
}
.img_a p {
 padding: 15px 0;
 color: black;
 font-weight: 900;
 font-family: 'Montserrat';
}
.img_cont b {
 display: block;
 padding: 23px 5px 0 0;
 font-size: 22px;
}
.col {
  color: #746a69 !important;
  animation-name: anim;
  animation-duration: 4s;
}
@keyframes anim {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.rotate {
 color: black;
 transform: rotate(360deg);
 position: fixed;
 left: 96%;
 transition: all 1s ease;
 top: 15px;
 font-size: 56px !important;
 padding: 0 !important;
 z-index: 1000;
 /* animation-name: rotation; */
 /* transition: all 1s ease; */
 /* animation-duration: 5s; */
/* animation-iteration-count: infinite; */
}

/* @keyframes rotation {
 0% {
   transform: rotate(0deg);
   position: fixed;
   left: 0;
   top: 15px;
 }
 100% {
   transform: rotate(360deg);
   position: fixed;
   left: 96%;
   font-size: 56px;
   padding: 0;
   top: 15px;
 }
} */

.hamburger span {
  width: 38px;
  display: block;
  background-color: black;
  height: 5px;
  margin: 4px 0;
  transition: all .4s ease;
}
.hamburger {
  padding: 21px 0 0 0;
  display: none;
}
.show {

}
.sp1 {
  transform: rotate(45deg);
  margin-top: 11px !important;
}
.sp2 {
  transform: rotate(-45deg);
  margin-top: -8px!important;
}
.sp3 {
  display: none !important;
}


/* adaptive */
@media only screen and (max-width: 830px){
  .a_cont {
    display: none;
    transition: opacity 0.5s ease-in-out;
    right: -50%;
    position: absolute;
    opacity: 0.2;
  }
  .hamburger {
    display: block;
    z-index: 110;
  }
  .show {
    display: block;
    background-color: #f9f8f4;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 58px;
    width: 50%;
    z-index: 105;
    opacity: 1;
  }
  a {
    font-size: 19px;
    display: block;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 605px){
  .show {
    width: 75%;
  }
}
@media only screen and (max-width: 552px){
  .img_cont img {
    width: 67px;
  }
  .img_a p {
    padding: 19px 0 0 0;
    font-size: 15px;
  }
  .hamburger {
    padding: 16px 0 0 0;
  }
}
@media only screen and (max-width: 430px){
  .show {
    width: 100%;
  }
}


















