<div class="toolbar">
 <div class="container_flex">
   <div class="img_cont">
     <a href="#" class="img_a">
       <img src="/assets/img/logo02.png" alt="">
       <b #n [ngClass]="{'rotate': rotateValue, 'col': colorValue}" aria-disabled>*</b> <p>Architecs</p>
     </a>
   </div>
   <div class="a_cont">
     <a [routerLink]="''">Home</a>
     <a [routerLink]="'about'">About</a>
     <a [routerLink]="'services'">Services</a>
     <a [routerLink]="'projects'">Project</a>
     <a [routerLink]="'contact'">Contact</a>
   </div>
 </div>
</div>
